/* styles.css */

body {
  --header-bg: #f0f0f0;
  --header-text: #333;
  --body-bg: #FFFFFF;
  --body-text: #334155;
  --body-link-color: #DB2777;
  --body-notice: #F1F5F9;
  --caption-color: black;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  line-height: 1.5rem;
  background-color: var(--body-bg);
  color: var(--body-text);
  margin: 0;
  /*padding: 10px 30px; /* 5px top and bottom, 10px left and right */
}

@media (prefers-color-scheme: dark) {
  body {
    --header-bg: #333;
    --header-text: #E2E8F0;
    --header-logo: #7DD3FC;
    --header-link-color: #FFFFFF;
    --body-bg: #0F172A;
    --body-text: #CBD5E1;
    --body-link-color: #F472B6;
    --body-notice: #1E293B;
    --caption-color: yellow;
  }
}

body a {
  color: var(--body-link-color);
  text-decoration: underline;
}

body a:hover {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  padding: 10px 20px;
  color: var(--header-link-color);
}

header h1 {
  color: var(--header-text);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
  margin: 0;
}

nav {
  margin-left: 15px;
}

nav a {
  color: var(--header-link-color);
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.9em;
}

nav a:hover {
  text-decoration: underline;
}

/*.header-right a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  margin: 0 5px;
}

.header-right a:hover {
  color: white;
  text-decoration: none;
}*/

main {
  padding: 20px;
}

footer {
  text-align: center;
  font-size: 0.9em;
}

details {
  /*padding: 0px 50px;*/
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

details[open] {
  border-radius: 8px 8px 0 0;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "▶ ";
  color: #666;
  font-size: 0.8em;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

details[open] summary::before {
  transform: rotate(90deg);
}

/* Extra Small screens (Mobile up to 576px) */
@media (max-width: 576px) {
    body {
      padding: none;
      overflow-wrap: break-word;
      overflow-x: hidden;
    }

    details {
      padding: none;
    }

    .header-right {
      display: none;
    }

    img {
      max-width: 100%; /* Ensures images take full width of the container */
      height: auto; /* Keeps the image aspect ratio */
    }
}

/* Small screens (Tablets 576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    body {
      padding: none;
      overflow-wrap: break-word;
      overflow-x: hidden;
    }

    details {
      padding: none;
    }

    .header-right {
      display: none;
    }

    img {
      max-width: 100%; /* Full width for small tablets */
      height: auto; /* Maintain aspect ratio */
    }
}

/* Extra Large screens (Wide Screens 1200px and up) */
@media (min-width: 768px) {
    body {
      padding: 10px 30px;
    }

    details {
      padding: 0px 30px;
    }

    .header-right a {
      color: var(--header-link-color);
      text-decoration: underline;
      font-size: 0.9em;
      margin: 0 5px;
    }

    .header-right a:hover {
      text-decoration: none;
    }

    img {
      max-width: 500px; /* Sets a reasonable maximum width */
      max-height: 70vh; /* Limits image height to 70% of viewport */
      height: auto; /* Maintains aspect ratio */
    }

    figure img {
      display: block;
      margin: 0 auto; /* Centers the image within <figure> */
      max-width: 100%; /* Ensures it doesn’t exceed container */
      object-fit: contain; /* Keeps the entire image visible within set dimensions */
    }
}

.p-notice {
  background-color: var(--body-notice);
  margin-bottom: 2rem 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.p-notice a {
  color: var(--body-link-color);
  text-decoration-style: solid;
}

.p-notice a:hover {
  text-decoration-style: none;
}

figure {
  margin: 5px;
}

figcaption {
  color: var(--caption-color);
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
}

.back {
  background-color: var(--body-notice);
  border: none;
  padding: 0.4rem;
  color: var(--body-text);
}

a[aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th, td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

.total-row {
  font-weight: bold;
}

.table-container {
  overflow-x: auto; /* Enables horizontal scrolling for tables */
}

ul li {
  line-height: 1.5rem;
}